extends layout
block content
  .container
    // SLIDER
    .the-slider.mt-40(data-tesla-plugin='slider', data-tesla-item='.slide', data-tesla-next='.slide-right', data-tesla-prev='.slide-left', data-tesla-container='.slide-wrapper')
      .slide-arrows
        .slide-left
          i.fa.fa-angle-left
        .slide-right
          i.fa.fa-angle-right
      ul.slide-wrapper
        li.slide
          .slide-text
            h2 My casual styling: jewelry vision
            a(href='#') Read more
          img.slider-image(src='images/slide-1.jpg', alt='sport 6')
        li.slide
          .slide-text
            h2 My casual styling: jewelry vision
            a(href='#') Read more
          img.slider-image(src='images/slide-2.jpg', alt='sport 6')
        li.slide
          .slide-text
            h2 My casual styling: jewelry vision
            a(href='#') Read more
          img.slider-image(src='images/slide-3.jpg', alt='sport 6')
      .container
        ul.the-bullets-dots(data-tesla-plugin='bullets')
          li.active
          li
          li
    // SLIDER
    .small-widget
      h4.widget-title About me
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit, ligula ut venenatis imperdiet, est tellus rhoncus sapien, et congue diam eros id nisl. Nunc ultricies porttitor ipsum sed dictum.
    // CONTENT
    .content.full-width-blog
      // POST
      .blog-post
        .post-cover
          a(href='post.html')
            img(src='images/post-13.jpg', alt='post')
        .post-header
          h4
            a(href='#') Travel
          h2
            a(href='post.html') My casual styling: pink coat
        .post-content
          p
            | Proof there exists a non-awkward way to grow out your bangs? See Sienna 0aMiller at the Harper's Bazaar Women of the Year Awards. All you have to do is spritz a bit of volume spray at your roots (try Bumble and bumble Dryspun Finish, £10), twist your bangs away from your face, then hold in place with a bobby pin.
        .post-footer
          a(href='post.html')
            | Read more
            i.fa.fa-caret-right
      // POST
      // POST
      .blog-post
        .post-cover
          a(href='post.html')
            img(src='images/post-14.jpg', alt='post')
        .post-header
          h4
            a(href='#') Travel
          h2
            a(href='post.html') My wonderfull trip to the sea
        .post-content
          p
            | Proof there exists a non-awkward way to grow out your bangs? See Sienna 0aMiller at the Harper's Bazaar Women of the Year Awards. All you have to do is spritz a bit of volume spray at your roots (try Bumble and bumble Dryspun Finish, £10), twist your bangs away from your face, then hold in place with a bobby pin.
        .post-footer
          a(href='post.html')
            | Read more
            i.fa.fa-caret-right
      // POST
      // POST
      .blog-post
        .post-cover
          a(href='post.html')
            img(src='images/post-15.jpg', alt='post')
        .post-header
          h4
            a(href='#') Travel
          h2
            a(href='post.html') Downtown
        .post-content
          p
            | Proof there exists a non-awkward way to grow out your bangs? See Sienna 0aMiller at the Harper's Bazaar Women of the Year Awards. All you have to do is spritz a bit of volume spray at your roots (try Bumble and bumble Dryspun Finish, £10), twist your bangs away from your face, then hold in place with a bobby pin.
        .post-footer
          a(href='post.html')
            | Read more
            i.fa.fa-caret-right
      // POST
      ul.pagination-section
        li 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
